:root {
  font-size: 60%;

  --color-background: #fff;
  --color-text: #0C0C0C;
  --color-kink: #0158b4;
  --color-hover: #6ec1e4;
  --color-background-orange: #FF7D23;
  --color-background-orange-hover: #f4a064;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}
body, input, button, textarea {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.7rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  padding: 2.5rem 7rem 1rem 7rem;

  justify-content: space-between;
  align-items: center;

  position: fixed;
  background-color: var(--color-background);

  box-shadow: 0 0 2rem rgba(0, 2, 0, 1);
}

header div.logo {
  width: 18rem;
  height: 3.7rem;
}
header div.logo img {
  width: 100%;
  height: 100%;
}
header nav a {
  padding: 1.3rem 1.5rem;
  color: var(--color-kink);
  font-weight: 600;
  font-size: 1.8rem;

  transition: border-bottom 0.3s;
}

header nav a:hover {
  border-bottom: 0.5rem solid var(--color-background-orange);
}

header div.buttons div.language button.flag {
  width: 3.68rem;
  height: 3.68rem;

  background: none;
  border: none;
}

header div.buttons div.language button.flag img {
  border-radius: 50%;

  width: 100%;
  height: 100%;
}

header div.buttons div.socialMedia button.media {
  width: 3.68rem;
  height: 3.68rem;
  border-radius: 50%;
  transition: background-color 0.1s;

  background: var(--color-background-orange);
  border: none;
}

header div.buttons div.socialMedia button.media:hover {
  background: var(--color-background-orange-hover);
}

header div.buttons div.socialMedia button.media i {
  color: var(--color-background);
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

section.banner {
  background: no-repeat center url(../img/trabalhoEmEquipe.jpg);
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 90vh;
}

section.banner div.titleBox {
  width: 100%;
  padding: 1rem 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
section.banner div.titleBox h1 {
  font-size: 4.8rem;
  color: var(--color-background-orange)
}

section.banner div.titleBox h1 span {
  color: var(--color-kink)
}

section.sectionQuemSomos {
  padding: 12rem 15rem 10rem 15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.imgQuemSomos{
  width: 50rem;
}

div.imgQuemSomos img{
  width: 100%;
}

div.divQuemSomos{
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.divQuemSomos h2{
  font-size: 3.9rem;
  color: #0e59b0;
  font-family: "Montserrat";
  font-weight: 700px;
  padding-bottom: 3rem;
}
div.divQuemSomos span{
  font-size: 1.8rem;
  font-family: "Titillium Web";
  font-weight: 400px;
  word-spacing: 4px;
  letter-spacing: 0.6px;
}

div.divOQueFazemos {
  background-image: url("../img/wave.svg");
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 15rem;
  cursor: default;
}

div.divOQueFazemos h2 {
  font-size: 3.9rem;
  color: #0e59b0;
  font-family: "Montserrat";
  font-weight: 700px;
  padding-bottom: 12rem;
}

div.divPrincipalOQueFazemos {
  width: 100%;
  height: 100%;
  padding: 0 10vw 15vh 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.divPrincipalOQueFazemos2 {
  width: 100%;
  height: 100%;
  padding: 0 10vw 0 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.divPrincipalOQueFazemos h3 {
  font-size: 2.9rem;
  font-family: "Montserrat";
  color: #0e59b0;
  padding-bottom: 4rem;
}

div.divPrincipalOQueFazemos p {
  font-size: 2rem;
  font-family: 'Titillium Web';
  padding-bottom: 4rem;
  letter-spacing: 0.6px;
}

div.divPrincipalOQueFazemos span {
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-family: 'Titillium Web';
  letter-spacing: 0.8px;
}

div.divPrincipalOQueFazemos2 h3 {
  font-size: 2.9rem;
  font-family: "Montserrat";
  color: #0e59b0;
  padding-bottom: 4rem;
}

div.divPrincipalOQueFazemos2 p {
  font-size: 2rem;
  font-family: 'Titillium Web';
  padding-bottom: 4rem;
  letter-spacing: 0.6px;
}

div.divPrincipalOQueFazemos2 span {
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-family: 'Titillium Web';
  letter-spacing: 0.8px;
}

div.divDescricoes {
  padding-bottom: 4rem;
}

div.divDescricoes i {
  padding-right: 2rem;
  color: var(--color-kink);
  font-size: 2rem;
}

div.divPrincipalOQueFazemos button {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-background-orange);
  width: 28rem;
  height: 4rem;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-background);
  padding: 0 1.5rem 0;
  transition: 0.3s;
}

div.divPrincipalOQueFazemos button i {
  padding-left: 0.8rem;
}

div.divPrincipalOQueFazemos button:hover {
  background-color: var(--color-hover);
}

div.divPrincipalOQueFazemos2 button {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-background-orange);
  width: 28rem;
  height: 4rem;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-background);
  padding: 0 1.5rem 0;
  transition: 0.3s;
}

div.divPrincipalOQueFazemos2 button i {
  padding-left: 0.8rem;
}

div.divPrincipalOQueFazemos2 button:hover {
  background-color: var(--color-hover);
}

div.divDescricoes span:hover i{
  color: var(--color-hover);
}

div.backgroundEmpty{
  display: flex;
  flex-direction: row;
}

div.divBackground1 {
  border: none;
  width: 50vw;
  height: 8vh;
  background-image: linear-gradient(to right, white, rgba(255,151,48,0.96));
}

div.divBackground2 {
  border: none;
  width: 50vw;
  height: 8vh;
  background-image: linear-gradient(63deg, rgba(255,151,48,0.96) 18%, rgba(242,41,91,0) 0%);
}

div.divPrincipalComoFazemos {
  height: 100vh;
  background-color: transparent;
  background-image: linear-gradient(130deg, rgba(255,151,48,0.96) 41%, rgba(242,41,91,0) 0%);
}

div.divPrincipalComoFazemos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw 0 16vw;
}

div.divImagemWorld {
  width: 28vw;
  height: 65rem;
  border-radius: 50%;
  background-image: url("../img/worldPeoples.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.divTextComoFazemos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32vw;
}

div.divTextComoFazemos h3 {
  font-family: "Montserrat";
  font-weight: 700;
  color: var(--color-kink);
  font-size: 3rem;
  padding-bottom: 3.2rem;
}

div.divTextComoFazemos h4 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.9rem;
  color: var(--color-kink);
  padding: 1.5rem 0 3.2rem 1.2rem;
}

div.divTextComoFazemos i {
  font-size: 5rem;
  position: absolute;
  left: 55%;
  color: var(--color-background-orange-hover);
  transform: rotate(40deg);
}

div.divTextComoFazemos span > i {
  font-size: 2rem;
  position: relative;
  left: 0%;
  color: var(--color-background-orange-hover);
  padding-right: 1.5rem;
  transform: rotate(0deg);
}
